$font: 'Nunito', sans-serif;
$font-color: #fff;
$font-about: #444;
$back-color: #221d1f;
$back-secondary: #b58d6d;
$black: #000;
$white:#fff;
$back-img: url("../img/bg-1.jpg");
$back-img-skills: url("../img/bg-2.jpg");
$back-grey: #f7f7f7;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$default-font-size: 1.6rem;
