<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>Osia - Web developer portfolio</title>
</head>
<body>


  <!-- Heading with welcome speach -->
    <header class="header">
      <div id="particles-js"></div>

      <div class="header__text-box">
        <h1 class="header-primary">
          <span class="header-primary--main">Olha Melnykovych</span>
          <spam class="header-primary--sub">Front-end developer portfolio</spam>
        </h1>
        <a href="#about" class="btn btn--black btn--animated">Find out more about me</a>
      </div>
    </header>

    <main>
      <section class="about">
        <div class="u-center u-margin-bottom-8">
          <h2 class="header-secondary">
            Hi, I'm Olha. Nice to meet you!
          </h2>
        </div>
        <div class="row">
          <div class="col-1-of-2">
            Text content
          </div>
          <div class="col-1-of-2">
            Image
          </div>
        </div>
      </section>
    </main>

    <!-- <section class="about" id="about">
      <h2>Hi, I'm Olha. Nice to meet you!</h2>
      <p class="about__text">I'm full-stack web developer with a passion to JavaScript, programming and beautiful code.</p>
      <p class="about__text"> I am a fast learner, have analytical mindset, passion for problem-solving. </p>
      <p class="about__text">I never stop searching for more advanced solutions.</p>
      <p class="about__text">From my marketing background I know how to create products from the customer point of view.</p>
    </section> -->

  <script>
    window.location.hash = "";
  </script>
  <script src="/js/particles.min.js"></script>
  <script src="/js/particles-config.js"></script>
</body>
</html>
