/* Colors:
#333038 : light_background
#222026 : dark_background;
#221d1f : to background;
#191517 : font color;

 */

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Courier', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #fff;
  background-color:#221d1f;

  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-position: center;

  position: relative;
}
.logo-box {
  position: absolute;
  top: 1.5rem;;
  left: 3rem;;
}
.logo-box__logo {
  height: 6rem;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
}
.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary-main, .heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
}

.heading-primary-main {
  font-size: 3rem;
  letter-spacing: .75rem;
  text-transform: uppercase;

  animation: movedown 2s ease-out;
}

.heading-primary-sub {
  font-size: 2rem;
  letter-spacing: 1rem;


  animation-name: moveup;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-15rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveup {
  0% {
    opacity: 0;
    transform: translateY(15rem);
  }

  80% {
    transform: translateY(-.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  backface-visibility: hidden;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
}
/* hover over -moves up */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.6);
}
/* click - moves down, like pressed btn*/
.btn:active{
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.6);
}

.btn-black {
  background-color: rgba(34, 29, 31, 0.6);
  color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s;
}
.btn-black::after {
  background-color: rgba(34, 29, 31, 0.4);
}

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.2);
  opacity: 0;
}

@keyframes moveBtn {
  0% {
    opacity: 0;
    transform: translateY(7rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* Btn will be displayed with animation 2.5 sec later */
.btn-animated {
    animation: moveBtn .5s ease-out 2.5s;
    animation-fill-mode: backwards;
}

#particles-js{
  height: 100%;
}

/* Footer */
.menu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: .1rem solid #ffffff;
  height: .1rem;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 3rem;
  top: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
.footer-item {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #67415d;
  cursor: pointer;
}
.footer:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.footer:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.7s;
}
.item:nth-child(2) {
  transition-delay: 0.7s;
}
.item:nth-child(3) {
  transition-delay: 0.6s;
}
.item:nth-child(4) {
  transition-delay: 0.5s;
}
.item:nth-child(5) {
  transition-delay: 0.4s;
}
.item:nth-child(6) {
  transition-delay: 0.3s;
}
.item:nth-child(7) {
  transition-delay: 0.2s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}
