
.composition__photo {
  width: 60%;
  box-shadow: 0 1.5rem 4rem rgba($back-color, .4);
  border-radius:1rem;
  transition: all .2s;


  &:hover {
    transform: scale(1.2) translateY(-.5rem);
    box-shadow: 0 1.5rem 4rem rgba($back-color, .5);
  }
}
