/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
}

body {
  box-sizing: border-box;
}

#particles-js{
  height: 100%;
}
