.section-about {
  padding: 15rem 0;
  color: $font-about;
}

.section-soft-skills {
  margin: -10rem 0;
  padding: 20rem 0;
  background-image:
  linear-gradient(
  to right bottom,
  rgba($back-color, 0.7),
  rgba($back-color, 0.4)
  ), $back-img-skills;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 88%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 88%, 0% 100%);
}

.section-hard-skills {
  background-color: $light-grey;
  margin: -10rem 0;
  padding: 25rem 0;
  color: $font-about;


}
